page-home {
  .geez_word {
     right: 0px;
     width: 300px;
     padding: 10px;
     text-align:left;
    font-size: 20px;
   }
  .date {
    text-align: center;
    color:green;
  }
  .geez_word_error {
    color: red;
    padding: 10px;

  }
}
